* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Chonburi';

}

body{
  min-height: 100vh;  
  width: 100%;
  align-items: center;
    justify-content: center;
    display: flex;
  flex-direction: column;
  background-color: #F5EFE5;
}

.gv-box {
  padding: 20px 0;
}

.gv-box-80 {
  padding: 20px 0;
  width: 80%;
  margin: auto;
}

.topnav-right a{
  position: relative;
  transition: .5s;
  font-weight: bold;
  float: right;
  color: #5a815d; 
  padding: 14px 16px;
  font-size: 27px;
  top: -50px;
  text-decoration: none;
  margin-right: 50px;
}

.navbar{
  background-color: transparent;
  padding: 10px -5px;
  text-align: center;
  width: 100%;
  top: 0px;
  z-index: 1000;
}

.sticky-bar {
  position: fixed;
  transition: all 2s;
}

.sticky-bar-shadow {
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 1px 10px 0 #649868;
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 2px );
}

.fadeable {
  opacity: 1;
  transition: opacity 2s; 
}

.fade {
  opacity: 0 !important;
}

.topnav-right a:hover{
  color: #3A4D39;
}

.topnav-right a span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-bottom: 2px solid rgb(83, 115, 83);
  border-radius: 15px;
  transform: scale(0) translateY(50px);
  opacity: 0;
  transition: .5s;
}

.topnav-right a:hover span{
  transform: scale(1) translateY(0);
  opacity: 1;
}

.menu-icon{
  height: 30px;
  width: 30px;
  position: absolute;
  left: 10px;
}

h1{
  /* position: absolute; */
  left: 100px;
  top: 10px;
  color: #3A4D39;
}

button{
  background:#3A4D39;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.8%;
  margin-bottom: -230px;
}

button:hover{
  background:#fff;
  color:#3A4D39;
}

button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #3A4D39;
  transition:400ms ease all;
}

button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}

.button-56 {
  align-self: center;
  background-color: transparent;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 20px;
  line-height: 23px;
  outline: none;
  padding: 30px 60px;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.button-56:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-56:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

#button1{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.8%;
  float: right;
  margin-top: 500px;
  margin-right: -170px;
}

#button2{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.8%;
  float: right;
  margin-top: 800px;
  margin-right: 20px;
  right: 100px;
}

.menu-icon{
  height: 30px;
  width: 30px;
  position: absolute;
  top: 15px;
  margin-left: 20px;
}

.logo-text{
  position: absolute;
  margin-left: 50px;
  top: 10px;
  font-size: 40px;
  color: #3A4D39;
}
.bg-image-header {
  background-image:url('../images/background_pic.png');
  width: 100%;
  /* height: 1024px;   */
  background-size: cover;   
}

.page{
  width: 100%;
  display: flex;
}

h3{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.8%;
  margin-right: 40px;
  float: right;
  margin-top: 860px;
  margin-right: -84px;
  font-size: 35px;
  color: #3A4D39;
  padding-top: 20px;
}

.sign{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.8%;
  margin-right: 40px;
  float: right;
  margin-top: 50px;
  margin-right: 100px;
  font-size: 35px;
  color: #3A4D39;
}

.logo{
  width: 40px;
  margin-left: -1220px;
  margin-top: 10px;
  
  margin-left: 100px;
 display: flow;

}
.text-box{
  
  position: absolute;
  background: rgba(163, 153, 134, 0.219);

  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 3px );
  border-radius: 20px;

  height: 440px;
  width: 470px;
  margin-top: 250px;
 right: 0;
 margin-right: 100px;
}

.heading .text{
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: auto;
  text-align: center;
  font-family: Neucha, sans-serif;

}
.heading{
  font-size: 50px;
  margin-top: 50px;
  color: #324734; 
  font-weight: bold;
  text-align: center;
}

.text{
  color: #324734; 
  margin-top: 10px;
  font-size: 38px;
  text-align: center;
}

.main-heading{
  background: #557449;
  background: linear-gradient(to right, #557449 24%, #E3D9AA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 200px;
  font-size: 200px;
  margin-left: 170px;
}

.line {
  position: relative;
  height: 2px;
  width: 50%;
  
  background: linear-gradient(to left, #507053 0%, #94CA99 100%);
  -webkit-text-fill-color: transparent;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20%;
  margin-top: 100px;
  margin-bottom: 100px;
}
.line1 {
  position: sticky;
  height: 2px;
  width: 30%;
  
  background: linear-gradient(to left, #507053 0%, #94CA99 100%);
  -webkit-text-fill-color: transparent;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.map-heading{
  /* margin-top: 1200px; */
  left:20%;
  right: 20%;
  text-align: center;
  font-size: 60px;
}

.abtUsMainTxt{
  font-size: 93px;
  text-align: center;
  position: relative;
  top: 180px;
  color: #9fb580;
}
.inf_map{
  position: sticky;
  text-align: center;
  font-size: 25px;
  color:#3A4D39;
  font-weight: bold;
}
.line2{
position: sticky;
  height: 2px;
  width: 30%;
  
  background: linear-gradient(to left, #507053 0%, #94CA99 100%);
  -webkit-text-fill-color: transparent;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20%;
  margin-top: 100px;
  margin-bottom: 100px;
}
.summary{
 /* margin-top: 1200px; */
 left:20%;
 right: 20%;
 text-align: center;
 font-size: 60px;
}

.card-lists {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
}
 
.card-item {
  display: flex;
 
  transition: box-shadow .3s;
  width: 450px;
  height: auto;
}
 
.card-item:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
 
.card-item-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem;
  box-shadow: 1px 1px 1px #000000;
  border-radius: 8px;
}
 
.card-item-content img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
 
.card-item-content :not(img) {
  padding-left: 2rem;
  padding-right: 2rem;
}
.card-item-content :last-child {
  padding-bottom: 1rem;
  text-align: center;
}
.card-item-content p {
  flex: 1 0 auto;
}
.news{
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
}
 
.archive{
  display: flex;
 
  transition: box-shadow .3s;
  width: 450px;
  height: auto;
}
 
.archive:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
 
.do-you-know {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem;
  box-shadow: 1px 1px 1px #000000;
  border-radius: 8px;
}
 
.do-you-know img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
 
.do-you-know :not(img) {
  padding-left: 2rem;
  padding-right: 2rem;
}
.do-you-know :last-child {
  padding-bottom: 1rem;
  text-align: center;
}
.do-you-know p {
  flex: 1 0 auto;
}

.diagrams-heading{
  /* margin-top: 1200px; */
  left:20%;
  right: 20%;
  text-align: center;
  font-size: 60px;
}

.container{
  max-width: 1170px;
  margin: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

ul{
  list-style: none;
}

.footer{
  background-color: rgb(221, 221, 186);
  padding: 70px 0;
  width: 1470px;
}

.footer-col{
  width: 25%;
  padding: 0 15px;
}

.footer-col h4{
  font-size: 18px;
  color: rgba(79, 111, 82, 1);
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: rgba(79, 111, 82, 1);
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  color: rgb(50, 66, 52);
  padding-left: 8px;
}

.pass{
  border-radius: 10px;
}

.email{
  border-radius: 10px;
  width: 185px;
}

.email-text{
  color: rgba(79, 111, 82, 1);
  font-size: 16px;
}

.pass-text{
  color: rgba(79, 111, 82, 1);
  font-size: 16px;
}

.footer-button{
  border-radius: 10px;
  width: 80px;
  cursor: pointer;
}
