@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter Tight', sans-serif;
}

body{
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #F5EFE5;
}

.gv-box {
  padding: 20px 0;
}

.gv-box-80 {
  padding: 20px 0;
  width: 80%;
  margin: auto;
}
/*Navigation bar*/
.topnav-right a{
  position: relative;
  transition: .5s;
  font-weight: bold;
  float: right;
  color: #5a815d;
  padding: 14px 16px;
  font-size: 27px;
  top: -50px;
  text-decoration: none;
  margin-right: 50px;
}

.navbar{
  background-color: transparent;
  padding: 10px -5px;
  width: 100%;
  top: 0px;
  z-index: 1000;
}
.navbar-other-pages{
  background-color: transparent;
  padding: 10px -5px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1000;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 1px 10px 0 #649868;
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 2px ); /*Rendering content in Safari and Chrome browsers*/
}
/*Sticky nav bar*/
.sticky-bar {
  position: fixed;
  transition: all 2s;
}
/*Nav bar with blur and shadow*/
.sticky-bar-shadow {
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 1px 10px 0 #649868;
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 2px ); /*Rendering content in Safari and Chrome browsers*/
}
/* Adding fade-in effect */
.fadeable {
  opacity: 1;
  transition: opacity 2s;
}
/* Adding fade-out effect */
.fade {
  opacity: 0 !important;
}

.topnav-right a:hover{
  color: #3A4D39;
}
/* Styling for the underlining effect on navigation bar links */
.topnav-right a span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-bottom: 2px solid rgb(83, 115, 83);
  border-radius: 15px;
  transform: scale(0) translateY(50px);
  opacity: 0;
  transition: .5s;
}
/* Expanding the underlining effect on navigation bar links on hover */
.topnav-right a:hover span{
  transform: scale(1) translateY(0);
  opacity: 1;
}

.menu-icon{
  height: 30px;
  width: 30px;
  position: absolute;
  left: 10px;
}

.menu-icon{
  height: 30px;
  width: 30px;
  position: absolute;
  top: 15px; /* Adjusting the top position */
  margin-left: 20px; /* Adding left margin for spacing */
}
/* Styling for the logo */
.logo{
  width: 40px;
  margin-left: -1220px;
  margin-top: 10px;
  margin-left: 100px;
  display: flow;
}
/* Styling for the logo text */
.logo-text{
  position: absolute;
  margin-left: 50px;
  top: 10px;
  font-size: 40px;
  color: #3A4D39;
}

h1{
  left: 100px; /* Adjusting the left position */
  top: 10px;
  color: #3A4D39;
}
/*The buttons in general*/
button{
  background:#3A4D39;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.8%; /* Adjusting the top position */
  margin-bottom: -230px;
}

/* Styling for the Sign In button with class .button-56 */
.button-56 {
  align-self: center;
  background-color: transparent;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 0;
  border-style: solid;
  border-width: 3px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #5f8358;
  cursor: pointer;
  font-family: Neucha, sans-serif;
  font-size: 24px;
  line-height: 23px;
  outline: none;
  padding: 30px 60px;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  -webkit-user-select: none; /*Rendering content in Safari and Chrome browsers*/
  touch-action: manipulation;

}
/* Hover effect for the Sign In button */
.button-56:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-56:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px; /* Adding box shadow on focus */
}
/* Styling for the Sign In button with id #button1 */
#button1{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.8%;
  float: right;
  margin-top: 500px;
  margin-right: -170px;
}
/* Styling for the Sign Up button with id #button2 */
#button2{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.8%;
  float: right;
  margin-top: 800px;
  margin-right: 20px;
  right: 100px;
}
/* Styling for a header background image */
.bg-image-header {
  background-image:url('../images/background_pic.png');
  width: 100%;
  background-size: cover;
}
/* Styling for another header background image */
.bg-image-header1 {
  width: 100%;
  background-size: cover;
}
/* Styling for text within a heading with class 'text' inside an element with class 'heading' */
.heading .text{
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: auto;
  text-align: center;
  font-family: Neucha, sans-serif;
}
/* Styling for a heading element */
.heading{
  font-size: 50px;
  margin-top: 50px;
  color: #324734;
  font-weight: bold;
  text-align: center;
}

.text{
  color: #324734;
  margin-top: 10px;
  font-size: 38px;
  text-align: center;
}
/* Styling for a main heading with gradient background */
.main-heading{
  background: #557449;
  background: linear-gradient(to right, #557449 24%, #E3D9AA 100%);
  -webkit-background-clip: text; /*Rendering content in Safari and Chrome browsers*/
  -webkit-text-fill-color: transparent; /*Rendering content in Safari and Chrome browsers*/
  margin-top: 200px;
  font-size: 200px;
  margin-left: 170px;
}

.page{
  width: 100%;
  display: flex;
}
/* Styling for a page container specific to Sign In and Sign Up with background image */
.page-SignInSignUp{
  width: 100%;
  display: flex;
  background-image: url(../images/signUpAndSignInFormBackground.png);
}
/* Styling for the heading inside an element with class 'sign' and 'h3' tag */
.sign > h3{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.8%; /* Adjusting the top position */
  margin-right: 40px;
  float: right;
  margin-top: 860px; /* Adjusting the top margin */
  margin-right: -84px; /* Adjusting the right margin */
  font-size: 35px;
  color: #3A4D39;
  padding-top: 20px;
}

.sign{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.8%;
  margin-right: 40px;
  float: right;
  margin-top: 50px;
  margin-right: 100px;
  font-size: 35px;
  color: #3A4D39;
}

.text-box{
  position: absolute;
  background: rgba(163, 153, 134, 0.219);
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 3px ); /*Rendering content in Safari and Chrome browsers*/
  border-radius: 20px;
  height: 440px;
  width: 470px;
  margin-top: 250px;
  right: 0;
  margin-right: 100px;
}

.text-box > p{
  font-family:  'Inter Tight', sans-serif;
}

.line {
  position: relative;
  height: 2px;
  width: 50%;
  background: linear-gradient(to left, #507053 0%, #94CA99 100%);
  -webkit-text-fill-color: transparent; /*Rendering content in Safari and Chrome browsers*/
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.line1 {
  position: sticky;
  height: 2px;
  width: 30%;
  background: linear-gradient(to left, #507053 0%, #94CA99 100%);
  -webkit-text-fill-color: transparent;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20%;
  margin-top: 100px;
  margin-bottom: 100px;
}
.line-menu{
  position: relative;
  height: 2px;
  width: 80px;
  background: linear-gradient(to left, #507053 0%, #94CA99 100%);
  -webkit-text-fill-color: transparent;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.map-heading{
  /* margin-top: 1200px; */
  left:20%;
  right: 20%;
  text-align: center;
  font-size: 60px;
  background: #FFC685;
  background: linear-gradient(to right, #FFC685 0%, #7D562E 100%);
  -webkit-background-clip: text; /*Rendering content in Safari and Chrome browsers*/
  -webkit-text-fill-color: transparent;
}

.abtUsMainTxt{
  font-size: 118px;
  text-align: center;
  margin-top: 150px;
  top: 190px;
  background: #557449;
  background: linear-gradient(to right, #557449 24%, #E3D9AA 100%);
  -webkit-background-clip: text; /*Rendering content in Safari and Chrome browsers*/
  -webkit-text-fill-color: transparent;
  display: flex;
  width: 100%;
  justify-content: center;
}
.abtUsMainTxt > span{
      font-family: 'Inter Tight', sans-serif;
}
.our_team_picture{
  border-radius: 41% 94% 95% 22% / 30% 55% 70% 103%;
  width: 1315px;
  height: 970px;
  margin-top: 65px;
  margin-left: 550px;
  margin-right: 50px;
}
.our_team_picture1{
  border-radius: 41% 94% 95% 22% / 30% 55% 70% 103%;
  width: 1315px;
  height: 970px;
  margin-top: 65px;
}
.team_pic_centre{
  text-align: center;
}
.pointers{
  display: flex;
  width: 100%; /* Take up 100% of the width of its parent */
  justify-content: center;
  margin-top: 25px; /* Add space above the container */
  margin-bottom: 25px; /* Add space below the container */
}
/* Styling for images inside a .pointers container */
.pointers > img{
  width: 214px;
  height: 186px;
}

.all-group-photos{
  display: flex;
  justify-content: center;
  gap: 50px; /* Add space between items */
  padding-bottom: 30px;/* Add space below the container */
} 
/* Styling for team member photos */
.photos-team-members{
  margin-top: 15px; /* Add space above the container */
  border-radius: 600px; /* Set border-radius for rounded corners */
  height: 350px;
  box-shadow: 3px 3px 3px #324734;
}
/* Styling for team member names */
.names-team-members{
  color: #324734;
  font-size: 25px;
  margin-top: 50px; /* Add space above the text */
 text-align: center;
}
/* Styling for team member roles in the project */
.role_in_project{
  margin-top: 25px; /* Add space above the text */
  font-size: 19px;
  color:#7D562E;
  font-weight: bold;
  text-align: center;
}

.gp{
  border: 2px solid #324734;
  border-radius: 600px; /* Set border-radius for rounded corners */
  height: 650px;
  width: 300px;
  text-align: center;
}
/* Styling for information squares */
.info-squares{
  display: flex;
  justify-content: center;
  gap: 80px; /* Add space between items */
  margin-bottom: 90px;
}
/* Styling for main information squares */
.main-info-squares{
  display: flex;
  justify-content: center; /* Center items along the main axis */
  gap: 80px; 
  margin-bottom: 30px; /* Add space below the container */
}
/* Styling for individual squares */
.squares{
  width: 425px;
  height: 265px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
  text-align: center;
  padding: 33px; /* Add padding inside the squares */
}
/* Styling for main squares */
.main-squares{
  width: 425px;
  height: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
  text-align: center;
  padding: 33px; /* Add padding inside the squares */
}
/* Styling for h1 inside main-squares */
.main-squares > h1{
  color: #4d5e46;
}
/* Styling for h1 inside squares */
.squares > h1{
  color: #4d5e46;
  font-size: 24px;
}
.main-squares > p{
  margin-top: 20px; /* Add space above the text */
  font-size: 25px;
  color: #4d5e46;
}
.squares > p{
  color: #4d5e46;
  font-size: 19px;
  margin-top: 11px; /* Add space above the text */
}
/* Styling for the map information */
.info-map-altogether {
  display: flex; /* Make the container a flex container */
}
/* Styling for the map information with */
.inf_map{
  position: sticky;
  text-align: center; /* Center text */
  font-size: 25px;
  color: #698667;
  font-weight: bold;
  padding-left: 292px;
  margin-right: 11px;
}

.arrow{
  width: 150px;
  height: 150px;
  rotate: 90deg; /* Rotate the arrow by 90 degrees */
  margin-right: 174px;
  margin-top: -95px;

}

.line2{
  position: sticky;
  height: 2px;
  width: 30%;
  background: linear-gradient(to left, #507053 0%, #94CA99 100%); /* Add gradient background */
  -webkit-text-fill-color: transparent; /*Rendering content in Safari and Chrome browsers*/
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.summary{
 /* margin-top: 1200px; */
 left:20%;
 right: 20%;
 text-align: center;
 font-size: 60px;
 margin-bottom: 50px;
}

.diagrams-heading{
  text-align: center;
  font-size: 50px;
  background: rgb(236,227,206);
  background: linear-gradient(90deg, rgba(236,227,206,1) 0%, rgba(58,77,57,1) 74%);
  -webkit-background-clip: text; /*Rendering content in Safari and Chrome browsers*/
  -webkit-text-fill-color: transparent; /*Rendering content in Safari and Chrome browsers*/
}

.card-lists {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center;
}

.card-item {
  display: flex;
  transition: box-shadow .3s; /* Add a smooth transition effect for box-shadow changes */
  width: 450px;
  height: auto; /* Automatically adjust the height */
}

.card-item:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); /* Add a shadow on hover */
}
/* Styling for the content inside card items */
.card-item-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem;
  box-shadow: 1px 1px 1px #000000;
  border-radius: 8px;
}
/* Styling for images inside card items */
.card-item-content img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
/* Styling for non-image content inside card items */
.card-item-content :not(img) {
  padding-left: 2rem;
  padding-right: 2rem;
}
/* Styling for the last child of card-item-content */
.card-item-content :last-child {
  padding-bottom: 1rem;
  text-align: center;
}
/* Styling for paragraphs inside card-item-content */
.card-item-content p {
  flex: 1 0 auto; /* Allow paragraphs to grow and shrink */
}
.news{
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  margin-left: 30px;
}
.bottom_news{
  position: relative;
}
.archive{
  display: flex;
  transition: box-shadow .3s;
  width: 450px;
  height: auto;
}

.archive:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); /* Add a shadow on hover */
}
/* Styling for the slider wrapper */
.slider-wrapper {
  position: relative;
}
/* Styling for slide buttons inside the slider wrapper */
.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}
/* Styling for hover effect on slide buttons */
.slider-wrapper .slide-button:hover {
  background: none;
}
/* Styling for the previous slide button */
.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none; /* Initially hidden */
}
/* Styling for the next slide button */
.slider-wrapper .slide-button#next-slide {
  right: -25px;
}
/* Styling for the image list inside the slider wrapper */
.slider-wrapper .image-list {
  display: grid; 
  grid-template-columns: repeat(10, 1fr); /* Create a grid with 10 equal columns */
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}
/* Styling for the scrollbar in the image list */
.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}
/* Styling for the scrollbar in the image list */
.slider-wrapper .image-list .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
  border: 2px solid rgb(85, 124, 83);
  text-align: center;
  border-radius: 30px;
}
.container .slider-scrollbar {
  height: 24px; /* Set the height of the scrollbar container */
  width: 100%;
  display: flex;
  align-items: center;
}
.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}
.slider-scrollbar:hover .scrollbar-track {
  height: 4px; /* Increase the height on hover */
}
.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}
.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px; /* Increase the height on active state */
  top: -2px; /* Adjust the vertical position on active state */
}
.slider-scrollbar .scrollbar-thumb::after {
  content: ""; /* Generate empty content */
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
.image-in-slider{
  height: 235px;
  width: 320px;
  border-radius: 30px;
}
.text-in-slider{
  font-size: 25px;
  color: rgb(85, 124, 83);
  text-align: center;
}
.button-60 {
  background: transparent; /* Set background to transparent */
  backface-visibility: hidden; /* Hide backface during transitions */
  border-radius: .375rem;
  border-style: solid;
  border-width: .100rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block; /* Display as inline-block */
  font-family: Circular,Helvetica,sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .400rem 0.5rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1); /* Enable hardware acceleration for smoother transitions */
  transition: transform .2s;
  user-select: none; /* Disable user selection */
  -webkit-user-select: none; /*Rendering content in Safari and Chrome browsers*/
  touch-action: manipulation;
}

.button-60:not(:disabled):hover {
  transform: scale(1.05); /* Scale the button on hover */
}

.button-60:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-60:focus {
  outline: 0 solid transparent; /* Remove outline */
}
/* Styling for the pseudo-element before focus of the button */
.button-60:focus:before {
  content: ""; /* Generate empty content */
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius; /* Apply transition to border-radius */
  user-select: none;
}
/* Styling for the focus state of the button when not focus-visible */
.button-60:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}
/* Styling for the pseudo-element before focus when not focus-visible */
.button-60:focus:not(:focus-visible):before {
  border-width: 0;
}
/* Styling for the active state of the button */
.button-60:not(:disabled):active {
  transform: translateY(.125rem); /* Adjust position on active state */
}

/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important; /* Hide the slide button on mobile and tablets */
  }
  .slider-wrapper .image-list {
    gap: 10px; /* Set the gap between image items */
    margin-bottom: 15px;
    scroll-snap-type: x mandatory; /* Enable mandatory horizontal snapping */

  }

  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }
  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}
.animate-charcter
{
   text-transform: uppercase; /* Convert text to uppercase */
   background-image: linear-gradient(
    -225deg,
    #3A4D39 0%,
    #4F6F52 29%,
    #B1C3B0 67%,
    #F5EFE5 100%
  ); /* Set background image as a linear gradient */
  text-transform: uppercase;
  background-image: linear-gradient( -225deg, #3A4D39 0%, #4F6F52 29%, #B1C3B0 67%, #F5EFE5 100% );
  background-size: auto auto;
  background-clip: border-box; /* Apply background-clip to border-box */
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text; /*Rendering content in Safari and Chrome browsers*/
  -webkit-text-fill-color: transparent; /*Rendering content in Safari and Chrome browsers*/
  animation: textclip 2s linear infinite; /* Apply textclip animation */
  display: inline-block;
  font-size: 129px;
  margin-top: 484px;
  text-align: center;
  position: absolute;
  left: 0;
  margin-right: 0;
  word-spacing: 94px;
}
/* Keyframe animation for textclip */
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* Section for the "Meet the Team" display */
.meet-the-team{
  display: flex;
}
/*About us button*/
.button-87 {
    padding: 35px 39px;
    transition: 0.5s;
    background-size: 200% auto;
    color: #F5EFE5;
    border-radius: 50px;
    border: 0px;
    font-weight: 700;
    font-size: 25px;
    box-shadow: 0px 0px 14px -7px #649868;
    background-image: linear-gradient(45deg, #649868 0%, #5a815d 51%, #94ca99 100%);
    cursor: pointer;
    -webkit-user-select: none; /* Disable user selection in Safari and Chrome browsers */
    touch-action: manipulation;
    margin-top: 100px;
}
a {
  text-decoration: none;
}

.button-87:hover {
  background-position: right center; /* Change background position on hover */
  color:#F5EFE5;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

.text_story{
  text-align: center;
  margin-left: 80px;
  margin-right: 30px;
  font-size: 22px;
  color: #5a815d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.meeting{
  color:#3A4D39
}
/*Footer*/
.container-before-footer-text{
  max-width: 1170px;
  margin: auto;
}
.container{
  padding-left: 40px;
    padding-right: 40px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.before-footer{
  position:relative;
}

.before-footer >img{
  width: 1018px;
  height: 648px;
}

ul{
  list-style: none;
}

.footer{
  background-color: #B1C3B0;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 10px;
}
/* Styling for each column in the footer */
.footer-col{
  width: 25%;
  padding: 0 15px;
}

.footer-col h4{
  font-size: 18px;
  color: #3A4D39;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 30px;
  position: relative;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3A4D39;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
  margin-top: 5px;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px; /* Bottom margin for list items except the last one */
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none; /* Remove default underline */
  font-weight: 300;
  color: rgba(79, 111, 82, 1);
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  color: rgb(50, 66, 52); /* Text color on hover */
  padding-left: 8px;
}
/* Styling for the pass and email input fields */
.pass{
  border-radius: 10px;
}

.email{
  border-radius: 10px;
  width: 185px;
}
/* Styling for buttons in the footer */
.footer-button{
  width: 80px;
  display: flex;
  flex-basis: 48%;
  background-color: rgba(79, 111, 82, 1);
  height: 25px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: 1s;
  justify-content: center;
  font-size: 10px;
  margin-left: 170px;
  margin-top: 5px;
}
/* Hover state for footer buttons */
.footer-button:hover{
  background-color: rgb(73, 107, 78); /* Background color on hover */
}
/* Copyright section styling */
.copyright{
  margin-top: 85px;
}
/* Styling for the hamburger menu */
.menu-hamburger {
  width: 270px;
  height: 500px;
  padding: 20px;
  position: absolute;
  top: 55px;
  left: -400px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 1px 15px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px ); /* Background blur effect */
  -webkit-backdrop-filter: blur( 4px ); /* WebKit-specific background blur */
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  text-align: center;
  z-index: 100000; /* Z-index for stacking order */
}
/* Styling for links inside the menu */
.menu > li >a{
  font-size: 23px;
  color: #5a815d;
  font-family: Neucha, sans-serif;
}
/* Visible class for the hamburger menu */
.menu-hamburger.visible {
  left: 0; /* Move menu to the visible position */
}

.input_wrapper{
  position: relative;
  padding: 15 px 0 0;
}

.input_field{
  border: 1.5px solid rgba(79, 111, 82, 1);
  font-size: 1rem;
  border-radius: 8px;
  color: #F8F8FF;
  padding: 8px;
  padding-right: 32px;
  background: transparent;
  transition: border-color 0.2s; /* Transition effect for border color */
}
/* Styling for the input field placeholder */
.input_field::placeholder{
  color: rgba(79, 111, 82, 1); /* Text color of the input field placeholder */
}
/* Styling for the input label when placeholder is shown */
.input_field:placeholder-shown _ .input_label{
  font-size: 1rem;
  cursor: text;
  color: #F8F8FF;
  top: 24px;
}
/* Styling for the input label when focused */
label.input_field:focus _ .input_label{
  position: absolute;
  top: 6px;
  padding: 0 4px;
  background-color: #140E37; /* Background color when focused */
  display: block;
  font-size: 14px;
  left: 8px;
  color: #2222a1;
}
/* Styling for the input field when focused */
.input_field:focus _ .input_label{
  color: #FF9950; /* Text color of the input label when focused */
}
/* Styling for the input field when focused */
.input_field:focus{
  border: 1.5px solid #FF9950;
  outline:c1px solide #FF9950;
}
/* Styling for the input icon */
.input_icon{
  position: absolute;
  right: -10px;
  bottom: -10px;
  width: 28px;
  height: 28px;
  stroke: #F8F8FF;
  stroke-width: 1.5px;
  transform: translate(-50%, -50%);
  transform-origin: center;
  cursor: pointer;
}
/* Styling for the input icon when focused */
.input_field:focus _ .input_icon{
  stroke: #FF9950; /* Stroke color of the input icon when focused */
}
/* Styling for the signin form */
.signin-form{
  margin: auto;
  position: relative;
  width: 500px;
  height: 540px;
  background: transparent;
  border: 2px solid rgba( 255, 255, 255, 0.5 );
  border-radius: 20px;
  backdrop-filter: blur(15px); /* Background blur effect */
  box-shadow: 0 0 30px rgba(0,0,0,.5);
}
/* Styling for the form box within the signin form */
.form-box-signin{
  margin-top: 70px;
}
/* Styling for the form box within the signin form */
.signin-form .form-box-signin{
  width: 100%;
  padding: 40px;
}

.form-box-signin h2{
  font-size: 2em;
  color: #252525;
  text-align: center;
}
/* Styling for the input box */
.input-box{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #252525;
  margin: 30px 0;
}
/* Styling for the label within the input box */
.input-box label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #252525;
  font-weight: 500;
  pointer-events: none; /* Prevent interaction with the label */
  transition: 0.5s;
}
/* Styling for the label when the input is focused or has content */
.input-box input:focus~label,
.input-box input:valid~label{
  top: -5px; /* Adjust the top position when focused or has content */

}
/* Styling for the input field */
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent; /* Transparent background for the input field */
  border: none;
  outline: none;
  font-size: 1em;
  color: #252525;
  font-weight: 600;
  padding: 0 35px 0 5px;
}
/* Styling for the icon within the input box */
.input-box .icon{
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #252525;
  line-height: 57px;
}
/* Styling for the text on the footer */
.p-footer{
  white-space: pre-line; /* Preserve white spaces and line breaks */
  text-align: center;
  margin-right: 10px;
}
/* Styling for the email text */
.email-text{
  color: rgba(79, 111, 82, 1);
  font-size: 16px;
}
/* Styling for the password text */
.pass-text{
  color: rgba(79, 111, 82, 1);
  font-size: 16px;
}
/* Styling for the username text */
.username-text{
  color: rgba(79, 111, 82, 1);
  font-size: 16px;
}
/*Social media icons*/
.socials{
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
/* Styling for the individual social media icon */
.socials a{
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Styling for the icon within the social media icon */
.socials a i{
  font-size: 2em;
  color: rgba(79, 111, 82, 1);
  opacity: 0.9; /* Opacity of the icon */
}
/* Styling when hovering over a social media icon */
.socials a:hover{
  background-color: rgb(71, 95, 73); /* Background color on hover */
  transition: 0.5s;
}
/* Styling when hovering over the icon within the social media icon */
.socials a:hover i{
  color: white; /* Text color of the icon on hover */
  transition: 0.5s;
}
/* Styling for the curved background */
.curved{
  position: absolute;
  top: 115.5px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  height: 890px;
}

.curved svg {
  position: relative;
  display: block;
  width: calc(153% + 1.3px);
  height: 493px;
  transform: rotate(180deg);
  margin-bottom: 349px;
  -webkit-transform: scaleX(-1); /* Flip the SVG horizontally for WebKit browsers */
  transform: scaleY(-1); /* Flip the SVG vertically */
}

.curved .shape-fill {
  fill: #F5EFE5;;
}
.news_heading_box{
  background-color:#324734;
  padding: 20px;
  margin-top: 0px;
}
.news_heading{
  font-size: 40px;
  color: #F5EFE5;
  text-align: center;
  padding-left: 130px;
}
#send_File{
  align-items: center;
  background-color: #698667;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0; /* Remove margin */
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none; /* Disable user selection */
  -webkit-user-select: none; /* Disable user selection for WebKit browsers */
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

#send_File:hover,
#send_File:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px; /* Apply box shadow on hover/focus */
  color: rgba(0, 0, 0, 0.65); /* Change text color on hover/focus */
}

#send_File:hover {
  transform: translateY(-1px); /* Move element up on hover */
}

#send_File:active {
  background-color: #698667; /* Change background color on click */
  border-color: rgba(0, 0, 0, 0.15); /* Change border color on click */
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px; /* Apply box shadow on click */
  color: rgba(0, 0, 0, 0.65); /* Change text color on click */
  transform: translateY(0); /* Reset transform on click */
}
#button_submit_image{
  align-items: center;
  background-color: #698667;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
#button_submit_image:hover,
#button_submit_image:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

#button_submit_image:hover {
  transform: translateY(-1px);
}

#button_submit_image:active {
  background-color: #698667;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
.challenge-double{
  display: flex;
  gap: 20px;
}
.challenge{
  text-align: center;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 60px;
  width: 434px;
  height: 425px;
  margin-top: 30px;
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.days{
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.challenge_days{
  font-size: 47px;
  font-weight: bold;
  letter-spacing: 4px;
  text-shadow: 3px 3px 6px #698667;
  color: #698667;
}
.circle-challenge{
  height: 157px;
  width: 110px;
  background-color: #698667;
  border-radius: 50%;
  display: inline-block;
  margin-left: 140px;
  padding: 25px;
}
.challenge > form{
    margin-bottom: 80px;
}
.logo-challenges{
    height: 50px;
}
.task{
  font-size: 25px;
  color: #6d8962;
  margin-bottom: 20px;
  margin-top: 20px ;
}
.task-description{
  margin-bottom: 20px;

}
.heading_challenge-yourself{
  background: #557449;
  background: linear-gradient(to right, #557449 24%, #E3D9AA 100%);
  -webkit-background-clip: text; /* Apply background clip to text */
  -webkit-text-fill-color: transparent; /* Make text transparent */
  font-size: 100px;
  text-align: center;
}
.text-challenge{
  color: #324734;
  font-size: 20px;
  padding-left: 300px;
  padding-right: 300px;
}

.contact-us-main >img{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.overlay-text{

  color: rgba(115, 144, 114, 1);
  font-size: 60px;
  text-align: center;
  font-weight: bold;
}

.overlay-text-2{
  color: rgba(115, 144, 114, 1);
  font-size: 35px;
  text-align: center;
}

.container_contact_us{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background: #B1C3B0;
  border-radius: 16px;
  padding: 20px 60px 40px 40px;
  box-shadow: 0 5px 10px #324734;
}
.container_contact_us >.content_contact_us{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.content_contact_us  >.left-side{
  width: 25%;
  height: 100%;
  position: relative;
}



.left-side >.details{
  margin: 14px;
  text-align: center;
}
.content_contact_us >.left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  background-color: #324734;
  right: -10px;
  top: 20%;
  transform: translateY(-7%);
  background-color: #5e5c5c;
}
.details> i{
  font-size: 30px;
  color: #324734;
  text-align: center;
}
.content_contact_us .left-side .details .topic{
  font-size: 18px;
  font-weight: bold;
  color: #324734;
  margin-bottom: 0;
  margin-top: 10px;
}
.content_contact_us .left-side .details .text-one-contact-us,
.content_contact_us .left-side .details .text-two-contact-us,
.content_contact_us .left-side .details .text-three-contact-us,
.content_contact_us .left-side .details .text-four-contact-us{
  font-size: 14px;
  color: #5e5c5c;
}
.right-side{
  width: 75%;
  margin-left: 90px;
}
.topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #324734;
}
.input-box_contact_us{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.input-box_contact_us > input,
.input-box_contact_us > textarea{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 500;
  background: #c4c3c3;
  border-radius: 60px;
  padding: 0 15px;
  resize: none;
}
.right-side > .message-box{
  min-height: 110px;
}
 .button_send_now > input[type="button"]{
  color:#fefefe;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  background: #324734;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button_send_now >input[type="button"]:hover{
  background: #4d5e46;
}
.heading_story{
  text-align: center;
  font-size: 40px;
  margin-left: 10px;
  background: rgb(236,227,206);
  background: linear-gradient(90deg, rgba(236,227,206,1) 0%, rgba(58,77,57,1) 74%);
  -webkit-background-clip: text;
  margin-top: -30px;
}
.hidden{
  opacity: 0;
  transition: all 1s;
}

.show{
  opacity: 1;
}
.fromlefthidden{
  opacity: 0;
  transition: all 1.5s;
  filter: blur(5px);
  transform: translateX(-100%);
}
.showlefthidden{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.icons_contact_us_main{
   margin-left: 250px;
}
.icon_like, .icon_ideas, .icon_dislike{
  width: 270px;
  padding-left: 196px;
}
.like, .ideas, .dislike{
  font-size: 21px;
  display: inline-block;
}
.text_contact_us_main{
  text-align: center;
}
.like{
  margin-right: 70px;
}
.dislike{
  margin-left: 50px;
}
.ideas{
  margin-left: -45px;
}
.button-33 {
  background-color: #6d8962;
  border-radius: 100px;
  color: #F5EFE5;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 6px 19px;
  text-align: center;
  margin-left: 700px;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}
.button-33:hover {
  box-shadow: #507053 0 -25px 18px -14px inset,#507053 0 1px 2px,#507053 0 2px 4px,#507053 0 4px 8px #507053 0 8px 16px, #507053 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.wavy_background1{
  background: url(../images/cards_news_1.png);
  height: 70vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
.wavy_background1 .wave1, .wavy_background2 .wave2, .wavy_background3 .wave3, .wavy_background4 .wave4,
.wavy_background5 .wave5, .wavy_background6 .wave6, .wavy_background7 .wave7, .wavy_background8 .wave8,
.wavy_background9 .wave9{
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}
.text_news_1, .text_news_2, .text_news_3, .text_news_4, .text_news_9, .text_news_7, .text_news_8{
  font-size: 23px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  color: #3A4D39;
}
.text_news_6, .text_news_5{
  font-size: 17px;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
  color: #3A4D39;
}
.wavy_background2{
  background: url(../images/apple_pic.jpg);
  height: 70vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
.wavy_background3{
  background: url(../images/france-clothing.webp);
  height: 70vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
.wavy_background4{
  background: url(../images/lawmakers.jpg);
  height: 70vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
.wavy_background5{
  background: url(../images/cards_news_7.webp);
  height: 70vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
.wavy_background6{
  background: url(../images/pesticides.jpg);
  height: 70vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
.wavy_background7{
  background: url(../images/card_news_2.png);
  height: 70vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
.wavy_background8{
  background: url(../images/spix.webp);
  height: 70vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
.wavy_background9{
  background: url(../images/card_news_4.png);
  height: 70vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
.button-24 {
  background: #3A4D39;
  border: 1px solid #3A4D39;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #F5EFE5;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #F5EFE5;
}

.button-24:active {
  opacity: .5;
}
