@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter Tight', sans-serif;
}

body{
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #F5EFE5;
}

.gv-box {
  padding: 20px 0;
}

.gv-box-80 {
  padding: 20px 0;
  width: 80%;
  margin: auto;
}
/*Navigation bar*/
.topnav-right a{
  position: relative;
  transition: .5s;
  font-weight: bold;
  float: right;
  color: #5a815d;
  padding: 14px 16px;
  font-size: 27px;
  top: -50px;
  text-decoration: none;
  margin-right: 50px;
}

.navbar{
  background-color: transparent;
  padding: 10px -5px;
  width: 100%;
  top: 0px;
  z-index: 1000;
}
.navbar-other-pages{
  background-color: transparent;
  padding: 10px -5px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1000;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 1px 10px 0 #649868;
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 2px ); /*Rendering content in Safari and Chrome browsers*/
}
/*Sticky nav bar*/
.sticky-bar {
  position: fixed;
  transition: all 2s;
}
/*Nav bar with blur and shadow*/
.sticky-bar-shadow {
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 1px 10px 0 #649868;
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 2px ); /*Rendering content in Safari and Chrome browsers*/
}

.fadeable {
  opacity: 1;
  transition: opacity 2s;
}

.fade {
  opacity: 0 !important;
}

.topnav-right a:hover{
  color: #3A4D39;
}

.topnav-right a span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-bottom: 2px solid rgb(83, 115, 83);
  border-radius: 15px;
  transform: scale(0) translateY(50px);
  opacity: 0;
  transition: .5s;
}

.topnav-right a:hover span{
  transform: scale(1) translateY(0);
  opacity: 1;
}

.menu-icon{
  height: 30px;
  width: 30px;
  position: absolute;
  left: 10px;
}

.menu-icon{
  height: 30px;
  width: 30px;
  position: absolute;
  top: 15px;
  margin-left: 20px;
}

.logo{
  width: 40px;
  margin-left: -1220px;
  margin-top: 10px;
  margin-left: 100px;
  display: flow;
}

.logo-text{
  position: absolute;
  margin-left: 50px;
  top: 10px;
  font-size: 40px;
  color: #3A4D39;
}

h1{
  /* position: absolute; */
  left: 100px;
  top: 10px;
  color: #3A4D39;
}
/*The buttons in general*/
button{
  background:#3A4D39;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.8%;
  margin-bottom: -230px;
}

/*Sign In button*/
.button-56 {
  align-self: center;
  background-color: transparent;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 0;
  border-style: solid;
  border-width: 3px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #5f8358;
  cursor: pointer;
  font-family: Neucha, sans-serif;
  font-size: 24px;
  line-height: 23px;
  outline: none;
  padding: 30px 60px;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  -webkit-user-select: none; /*Rendering content in Safari and Chrome browsers*/
  touch-action: manipulation;

}

.button-56:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-56:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}
/*Sign In button*/
#button1{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.8%;
  float: right;
  margin-top: 500px;
  margin-right: -170px;
}
/*Sign Up button*/
#button2{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.8%;
  float: right;
  margin-top: 800px;
  margin-right: 20px;
  right: 100px;
}

.bg-image-header {
  background-image:url('../images/background_pic.png');
  width: 100%;
  background-size: cover;
}

.bg-image-header1 {
  width: 100%;
  background-size: cover;
}

.heading .text{
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: auto;
  text-align: center;
  font-family: Neucha, sans-serif;

}
.heading{
  font-size: 50px;
  margin-top: 50px;
  color: #324734;
  font-weight: bold;
  text-align: center;
}

.text{
  color: #324734;
  margin-top: 10px;
  font-size: 38px;
  text-align: center;
}

.main-heading{
  background: #557449;
  background: linear-gradient(to right, #557449 24%, #E3D9AA 100%);
  -webkit-background-clip: text; /*Rendering content in Safari and Chrome browsers*/
  -webkit-text-fill-color: transparent; /*Rendering content in Safari and Chrome browsers*/
  margin-top: 200px;
  font-size: 200px;
  margin-left: 170px;
}

.page{
  width: 100%;
  display: flex;
}

.sign > h3{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.8%;
  margin-right: 40px;
  float: right;
  margin-top: 860px;
  margin-right: -84px;
  font-size: 35px;
  color: #3A4D39;
  padding-top: 20px;
}

.sign{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.8%;
  margin-right: 40px;
  float: right;
  margin-top: 50px;
  margin-right: 100px;
  font-size: 35px;
  color: #3A4D39;
}

.text-box{
  position: absolute;
  background: rgba(163, 153, 134, 0.219);
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 3px ); /*Rendering content in Safari and Chrome browsers*/
  border-radius: 20px;
  height: 440px;
  width: 470px;
  margin-top: 250px;
  right: 0;
  margin-right: 100px;
}

.text-box > p{
  font-family:  'Inter Tight', sans-serif;
}

.line {
  position: relative;
  height: 2px;
  width: 50%;
  background: linear-gradient(to left, #507053 0%, #94CA99 100%);
  -webkit-text-fill-color: transparent; /*Rendering content in Safari and Chrome browsers*/
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.line1 {
  position: sticky;
  height: 2px;
  width: 30%;
  background: linear-gradient(to left, #507053 0%, #94CA99 100%);
  -webkit-text-fill-color: transparent;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20%;
  margin-top: 100px;
  margin-bottom: 100px;
}
.line-menu{
  position: relative;
  height: 2px;
  width: 80px;
  background: linear-gradient(to left, #507053 0%, #94CA99 100%);
  -webkit-text-fill-color: transparent;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.map-heading{
  /* margin-top: 1200px; */
  left:20%;
  right: 20%;
  text-align: center;
  font-size: 60px;
  background: #FFC685;
  background: linear-gradient(to right, #FFC685 0%, #7D562E 100%);
  -webkit-background-clip: text; /*Rendering content in Safari and Chrome browsers*/
  -webkit-text-fill-color: transparent;
}

.abtUsMainTxt{
  font-size: 118px;
  text-align: center;
  margin-top: 150px;
  top: 190px;
  background: #557449;
  background: linear-gradient(to right, #557449 24%, #E3D9AA 100%);
  -webkit-background-clip: text; /*Rendering content in Safari and Chrome browsers*/
  -webkit-text-fill-color: transparent;
  display: flex;
  width: 100%;
  justify-content: center;
}
.abtUsMainTxt > span{
      font-family: 'Inter Tight', sans-serif;
}
.our_team_picture{
  border-radius: 41% 94% 95% 22% / 30% 55% 70% 103%;
  width: 1315px;
  height: 970px;
  margin-top: 65px;
  margin-left: 550px;
  margin-right: 50px;
}
.our_team_picture1{
  border-radius: 41% 94% 95% 22% / 30% 55% 70% 103%;
  width: 1315px;
  height: 970px;
  margin-top: 65px;
  margin-left: 50px;
  margin-right: 50px;
}
.pointers{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.pointers > img{
  width: 214px;
  height: 186px;
}

.all-group-photos{
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-bottom: 30px;
}
.photos-team-members{
  margin-top: 15px;
  border-radius: 600px;
  height: 350px;
  box-shadow: 3px 3px 3px #324734;

}
.names-team-members{
  color: #324734;
  font-size: 25px;
  margin-top: 50px;
 text-align: center;
}

.role_in_project{
  margin-top: 25px;
  font-size: 19px;
  color:#7D562E;
  font-weight: bold;
  text-align: center;
}

.gp{
  border: 2px solid #324734;
  border-radius: 600px;
  height: 650px;
  width: 300px;
text-align: center;
}
.info-squares{
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-bottom: 90px;
}
.main-info-squares{
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-bottom: 30px;
}
.squares{
  width: 425px;
  height: 265px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 33px;

}
.main-squares{
  width: 425px;
  height: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 33px;
}
.main-squares > h1{
  color: #4d5e46;

}
.squares > h1{
  color: #4d5e46;
  font-size: 24px;
}
.main-squares > p{
  margin-top: 20px;
  font-size: 25px;
  color: #4d5e46;
}
.squares > p{
  color: #4d5e46;
  font-size: 19px;
  margin-top: 11px;
}

.info-map-altogether {
  display: flex;
}

.inf_map{
  position: sticky;
  text-align: center;
  font-size: 25px;
  color: #698667;
  font-weight: bold;
  padding-left: 292px;
  margin-right: 11px;
}

.arrow{
  width: 150px;
  height: 150px;
  rotate: 90deg;
  margin-right: 174px;
  margin-top: -95px;

}

.line2{
  position: sticky;
  height: 2px;
  width: 30%;
  background: linear-gradient(to left, #507053 0%, #94CA99 100%);
  -webkit-text-fill-color: transparent; /*Rendering content in Safari and Chrome browsers*/
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.summary{
 /* margin-top: 1200px; */
 left:20%;
 right: 20%;
 text-align: center;
 font-size: 60px;
 margin-bottom: 50px;
}

.diagrams-heading{
  text-align: center;
  font-size: 50px;
  background: rgb(236,227,206);
  background: linear-gradient(90deg, rgba(236,227,206,1) 0%, rgba(58,77,57,1) 74%);
  -webkit-background-clip: text; /*Rendering content in Safari and Chrome browsers*/
  -webkit-text-fill-color: transparent; /*Rendering content in Safari and Chrome browsers*/
}

.card-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-item {
  display: flex;
  transition: box-shadow .3s;
  width: 450px;
  height: auto;
}

.card-item:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.card-item-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem;
  box-shadow: 1px 1px 1px #000000;
  border-radius: 8px;
}

.card-item-content img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card-item-content :not(img) {
  padding-left: 2rem;
  padding-right: 2rem;
}
.card-item-content :last-child {
  padding-bottom: 1rem;
  text-align: center;
}
.card-item-content p {
  flex: 1 0 auto;
}
.news{
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
}

.archive{
  display: flex;

  transition: box-shadow .3s;
  width: 450px;
  height: auto;
}

.archive:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
 /*Slider Wrapper*/
.slider-wrapper {
  position: relative;
}
.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}
.slider-wrapper .slide-button:hover {
  background: none;
}
.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}
.slider-wrapper .slide-button#next-slide {
  right: -25px;
}
.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}
.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}
.slider-wrapper .image-list .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
  border: 2px solid rgb(85, 124, 83);
  text-align: center;
  border-radius: 30px;
}
.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}
.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}
.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}
.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
.image-in-slider{
  height: 235px;
  width: 320px;
  border-radius: 30px;
}
.text-in-slider{
  font-size: 25px;
  color: rgb(85, 124, 83);
  text-align: center;
}
.button-60 {
  background: transparent;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .100rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .400rem 0.5rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none; /*Rendering content in Safari and Chrome browsers*/
  touch-action: manipulation;
}

.button-60:not(:disabled):hover {
  transform: scale(1.05);
}

.button-60:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-60:focus {
  outline: 0 solid transparent;
}

.button-60:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-60:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-60:focus:not(:focus-visible):before {
  border-width: 0;
}

.button-60:not(:disabled):active {
  transform: translateY(.125rem);
}

/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }
  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;

  }

  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }
  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #3A4D39 0%,
    #4F6F52 29%,
    #B1C3B0 67%,
    #F5EFE5 100%
  );
  text-transform: uppercase;
  background-image: linear-gradient( -225deg, #3A4D39 0%, #4F6F52 29%, #B1C3B0 67%, #F5EFE5 100% );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text; /*Rendering content in Safari and Chrome browsers*/
  -webkit-text-fill-color: transparent; /*Rendering content in Safari and Chrome browsers*/
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 129px;
  margin-top: 484px;
  text-align: center;
  position: absolute;
  left: 0;
  margin-right: 0;
  word-spacing: 94px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.meet-the-team{
  display: flex;
}
/*About us button*/
.button-87 {
    padding: 35px 39px;
    transition: 0.5s;
    background-size: 200% auto;
    color: #F5EFE5;
    border-radius: 50px;
    border: 0px;
    font-weight: 700;
    font-size: 25px;
    box-shadow: 0px 0px 14px -7px #649868;
    background-image: linear-gradient(45deg, #649868 0%, #5a815d 51%, #94ca99 100%);
    cursor: pointer;
    -webkit-user-select: none; /*Rendering content in Safari and Chrome browsers*/
    touch-action: manipulation;
    margin-top: 100px;
}
a {
  text-decoration: none;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color:#F5EFE5;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

.text_story{
  text-align: center;
  margin-left: 80px;
  margin-right: 30px;
  font-size: 22px;
  color: #5a815d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.meeting{
  color:#3A4D39
}
/*Footer*/
.container-before-footer-text{
  max-width: 1170px;
  margin: auto;
}
.container{
  padding-left: 40px;
    padding-right: 40px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.before-footer{
  position:relative;
}

.before-footer >img{
  width: 1018px;
    height: 648px;
}

ul{
  list-style: none;
}

.footer{
  background-color: #B1C3B0;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 10px;
}

.footer-col{
  width: 25%;
  padding: 0 15px;
}

.footer-col h4{
  font-size: 18px;
  color: #3A4D39;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 30px;
  position: relative;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3A4D39;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
  margin-top: 5px;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: rgba(79, 111, 82, 1);
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  color: rgb(50, 66, 52);
  padding-left: 8px;
}

.pass{
  border-radius: 10px;
}

.email{
  border-radius: 10px;
  width: 185px;
}
/*Buttons on the footer*/
.footer-button{
  width: 80px;
  display: flex;
  flex-basis: 48%;
  background-color: rgba(79, 111, 82, 1);
  height: 25px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: 1s;
  justify-content: center;
  font-size: 10px;
  margin-left: 170px;
  margin-top: 5px;
}
.footer-button:hover{
  background-color: rgb(73, 107, 78);
}
.copyright{
  margin-top: 85px;
}
.menu-hamburger {
  width: 270px;
  height: 500px;
  padding: 20px;
  position: absolute;
  top: 55px;
  left: -400px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 1px 15px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  text-align: center;
  z-index: 100000;
}
.menu > li >a{
  font-size: 23px;
  color: #5a815d;
  font-family: Neucha, sans-serif;
}

.menu-hamburger.visible {
  left: 0
}

.input_wrapper{
  position: relative;
  padding: 15 px 0 0;
}

.input_field{
  border: 1.5px solid rgba(79, 111, 82, 1);
  font-size: 1rem;
  border-radius: 8px;
  color: #F8F8FF;
  padding: 8px;
  padding-right: 32px;
  background: transparent;
  transition: border-color 0.2s;
}

.input_field::placeholder{
  color: rgba(79, 111, 82, 1);
}

.input_field:placeholder-shown _ .input_label{
  font-size: 1rem;
  cursor: text;
  color: #F8F8FF;
  top: 24px;
}

label.input_field:focus _ .input_label{
  position: absolute;
  top: 6px;
  padding: 0 4px;
  background-color: #140E37;
  display: block;
  font-size: 14px;
  left: 8px;
  color: #2222a1;
}

.input_field:focus _ .input_label{
  color: #FF9950;
}

.input_field:focus{
  border: 1.5px solid #FF9950;
  outline:c1px solide #FF9950;
}

.input_icon{
  position: absolute;
  right: -10px;
  bottom: -10px;
  width: 28px;
  height: 28px;
  stroke: #F8F8FF;
  stroke-width: 1.5px;
  transform: translate(-50%, -50%);
  transform-origin: center;
  cursor: pointer;
}

.input_field:focus _ .input_icon{
  stroke: #FF9950;
}

.signin-form{
  margin: auto;
  position: relative;
  width: 500px;
  height: 540px;
  background: transparent;
  border: 2px solid rgba( 255, 255, 255, 0.5 );
  border-radius: 20px;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 30px rgba(0,0,0,.5);
}

.form-box-signin{
  margin-top: 70px;
}

.signin-form .form-box-signin{
  width: 100%;
  padding: 40px;
}

.form-box-signin h2{
  font-size: 2em;
  color: #252525;
  text-align: center;
}

.input-box{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #252525;
  margin: 30px 0;
}

.input-box label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #252525;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
  top: -5px;

}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #252525;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon{
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #252525;
  line-height: 57px;
}

/*The text on the footer*/
.p-footer{
  white-space: pre-line;
  text-align: center;
  margin-right: 10px;
}

.email-text{
  color: rgba(79, 111, 82, 1);
  font-size: 16px;
}

.pass-text{
  color: rgba(79, 111, 82, 1);
  font-size: 16px;
}

.username-text{
  color: rgba(79, 111, 82, 1);
  font-size: 16px;
}
/*Social media icons*/
.socials{
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.socials a{
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials a i{
  font-size: 2em;
  color: rgba(79, 111, 82, 1);
  opacity: 0.9;
}

.socials a:hover{
  background-color: rgb(71, 95, 73);
  transition: 0.5s;
}

.socials a:hover i{
  color: white;
  transition: 0.5s;
}

.curved{
  position: absolute;
  top: 115.5px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  height: 890px;
}

.curved svg {
  position: relative;
  display: block;
  width: calc(153% + 1.3px);
  height: 493px;
  transform: rotate(180deg);

  margin-bottom: 349px;
  -webkit-transform: scaleX(-1);
  transform: scaleY(-1);
}

.curved .shape-fill {
  fill: #F5EFE5;;
}
.news_heading_box{
  background-color:#324734;
  padding: 20px;
  margin-top: 0px;
}
.news_heading{
  font-size: 40px;
  color: #F5EFE5;
  text-align: center;
  padding-left: 130px;
}
#send_File{
  align-items: center;
  background-color: #698667;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

#send_File:hover,
#send_File:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

#send_File:hover {
  transform: translateY(-1px);
}

#send_File:active {
  background-color: #698667;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
#button_submit_image{
    align-items: center;
  background-color: #698667;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
#button_submit_image:hover,
#button_submit_image:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

#button_submit_image:hover {
  transform: translateY(-1px);
}

#button_submit_image:active {
  background-color: #698667;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
.challenge-double{
  display: flex;
  gap: 20px;
}
.challenge{
  text-align: center;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 60px;
  width: 434px;
    height: 425px;
  margin-top: 30px;
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.days{
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.challenge_days{
  font-size: 47px;
  font-weight: bold;
  letter-spacing: 4px;
  text-shadow: 3px 3px 6px #698667;
  color: #698667;
}
.circle-challenge{
  height: 157px;
  width: 110px;
  background-color: #698667;
  border-radius: 50%;
  display: inline-block;
  margin-left: 140px;
  padding: 25px;
}
.challenge > form{
    margin-bottom: 80px;
}
.logo-challenges{
    height: 50px;
}
.task{
  font-size: 25px;
  color: #6d8962;
  margin-bottom: 20px;
  margin-top: 20px ;
}
.task-description{
  margin-bottom: 20px;

}
.heading_challenge-yourself{
  background: #557449;
  background: linear-gradient(to right, #557449 24%, #E3D9AA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 100px;
  text-align: center;
}
.text-challenge{
  color: #324734;
  font-size: 20px;
  padding-left: 300px;
  padding-right: 300px;
}

.contact-us-main >img{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.overlay-text{

  color: rgba(115, 144, 114, 1);
  font-size: 60px;
  text-align: center;
  font-weight: bold;
}

.overlay-text-2{
  color: rgba(115, 144, 114, 1);
  font-size: 35px;
  text-align: center;
}

.container_contact_us{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background: #B1C3B0;
  border-radius: 16px;
  padding: 20px 60px 40px 40px;
  box-shadow: 0 5px 10px #324734;
}
.container_contact_us >.content_contact_us{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.content_contact_us  >.left-side{
  width: 25%;
  height: 100%;
  position: relative;
}



.left-side >.details{
  margin: 14px;
  text-align: center;
}
.content_contact_us >.left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  background-color: #324734;
  right: -10px;
  top: 20%;
  transform: translateY(-7%);
  background-color: #5e5c5c;
}
.details> i{
  font-size: 30px;
  color: #324734;
  text-align: center;
}
.content_contact_us .left-side .details .topic{
  font-size: 18px;
  font-weight: bold;
  color: #324734;
  margin-bottom: 0;
  margin-top: 10px;
}
.content_contact_us .left-side .details .text-one-contact-us,
.content_contact_us .left-side .details .text-two-contact-us,
.content_contact_us .left-side .details .text-three-contact-us,
.content_contact_us .left-side .details .text-four-contact-us{
  font-size: 14px;
  color: #5e5c5c;
}
.right-side{
  width: 75%;
  margin-left: 90px;
}
.topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #324734;
}
.input-box_contact_us{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.input-box_contact_us > input,
.input-box_contact_us > textarea{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 500;
  background: #c4c3c3;
  border-radius: 60px;
  padding: 0 15px;
  resize: none;
}
.right-side > .message-box{
  min-height: 110px;
}
 .button_send_now > input[type="button"]{
  color:#fefefe;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  background: #324734;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button_send_now >input[type="button"]:hover{
  background: #4d5e46;
}
.heading_story{
  text-align: center;
  font-size: 40px;
  margin-left: 10px;
  background: rgb(236,227,206);
  background: linear-gradient(90deg, rgba(236,227,206,1) 0%, rgba(58,77,57,1) 74%);
  -webkit-background-clip: text;
  margin-top: -30px;
}
.hidden{
  opacity: 0;
  transition: all 1s;
}

.show{
  opacity: 1;
}
.fromlefthidden{
  opacity: 0;
  transition: all 1.5s;
  filter: blur(5px);
  transform: translateX(-100%);
}
.showlefthidden{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.icons_contact_us_main{
   margin-left: 250px;
}
.icon_like, .icon_ideas, .icon_dislike{
  width: 270px;
  padding-left: 196px;
}
.like, .ideas, .dislike{
  font-size: 21px;
  display: inline-block;
}
.text_contact_us_main{
  text-align: center;
}
.like{
  margin-right: 70px;
}
.dislike{
  margin-left: 50px;
}
.ideas{
  margin-left: -45px;
}
.button-33 {
  background-color: #6d8962;
  border-radius: 100px;
  color: #F5EFE5;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 6px 19px;
  text-align: center;
  margin-left: 700px;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}
.button-33:hover {
  box-shadow: #507053 0 -25px 18px -14px inset,#507053 0 1px 2px,#507053 0 2px 4px,#507053 0 4px 8px #507053 0 8px 16px, #507053 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.wavy_background1{
  background: url(../images/cards_news_1.png);
  height: 70vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
.wavy_background1 .wave1, .wavy_background2 .wave2, .wavy_background3 .wave3, .wavy_background4 .wave4,
.wavy_background5 .wave5, .wavy_background6 .wave6, .wavy_background7 .wave7, .wavy_background8 .wave8,
.wavy_background9 .wave9{
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}
.text_news_1, .text_news_2, .text_news_3, .text_news_4, .text_news_9, .text_news_7, .text_news_8{
  font-size: 23px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  color: #3A4D39;
}
.text_news_6, .text_news_5{
  font-size: 17px;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
  color: #3A4D39;
}
.wavy_background2{
  background: url(../images/apple_pic.jpg);
  height: 70vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
.wavy_background3{
  background: url(../images/france-clothing.webp);
  height: 70vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
.wavy_background4{
  background: url(../images/lawmakers.jpg);
  height: 70vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
.wavy_background5{
  background: url(../images/cards_news_7.webp);
  height: 70vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
.wavy_background6{
  background: url(../images/pesticides.jpg);
  height: 70vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
.wavy_background7{
  background: url(../images/card_news_2.png);
  height: 70vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
.wavy_background8{
  background: url(../images/spix.webp);
  height: 70vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
.wavy_background9{
  background: url(../images/card_news_4.png);
  height: 70vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
